<template>
  <section>
    <div class="form">

      <div class="field is-grouped is-grouped-centered columns">
        <div class="control column has-icons-left">
          <nuxt-link to="/" class="button is-primary">
            <span class="icon is-left"><i class="fab fa-google"></i></span>
            <span>Googleでログイン</span>
          </nuxt-link>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered columns">
        <div class="control column has-icons-left">
          <nuxt-link to="/" class="button is-link">
            <span class="icon is-left"><i class="fab fa-facebook-square"></i></span>
            <span>Facebookでログイン</span>
          </nuxt-link>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered columns">
        <div class="control column has-icons-left">
          <nuxt-link to="/" class="button is-info">
            <span class="icon is-left"><i class="fab fa-twitter"></i></span>
            <span>Twitterでログイン</span>
          </nuxt-link>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered columns">
        <div class="control column has-icons-left">
          <nuxt-link to="/" class="button is-success">
            <span class="icon is-left"><i class="fas fa-book"></i></span>
            <span>メールでログイン</span>
          </nuxt-link>
        </div>
      </div>
    </div>


    <div class="signup">
      Need an account? 
      <nuxt-link to="/signup">Sign up</nuxt-link>
    </div>

    <p v-if="user">{{ user.email }}でログインしています。</p>
    <p v-else>ログインしていません。</p>


    <div class="signup" v-if="user"> 
      <button class="button is-primary" @click="deleteUser">退会する</button>
    </div>

    <div class="form" v-else>
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="Email input" v-model="email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <p>{{ email }}</p>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left">
          <input class="input" type="password" placeholder="Password" v-model="password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
          <p>{{ password }}</p>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered columns">
        <div class="control column">
          <button class="button is-link" @click="signIn">Sign in</button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      user: "",
      email: "",
      password: ""
    };
  },
  methods: {
    deleteUser: function() {
      if (this.user) {
        this.$firebase.deleteUser();
        this.user = "";
      }
    },
    signIn: function() {
      if (!this.user) {
        this.$firebase.signInWithEmail(this.email, this.password);
        this.user = this.$firebase.isLoggedIn();
      }
    }
  },
  mounted() {
    this.user = this.$firebase.isLoggedIn();
  }
};
</script>


<style scoped>
.form {
  text-align: left;
}
.button {
  width: 100%;
}
.signup {
  padding-top: 50px;
}
.icon {
  /* padding-left: 18px; */
}
</style>
