<template>
  <footer id="my-footer" class="footer has-text-light has-background-dark">
    <div class="content has-text-centered">
      <p>
        &copy; 2018 Sample App
      </p>
    </div>
  </footer>
</template>

<style scoped>
#my-footer
{
  padding: 0.7rem;
}
</style>

