<template>
  <section>
    <form action="" @submit.prevent>
    <div class="form">
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="Email input" v-model="email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <p>{{ email }}</p>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left">
          <input class="input" type="password" placeholder="Password" v-model="password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
          <p>{{ password }}</p>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <b-checkbox>
            Keep me logged in for 30 days
            </b-checkbox>
          </label>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered columns">
        <div class="control column">
          <button class="button is-link" @click="signUp">Sign up</button>
        </div>
      </div>
    </div>

    <div class="signup">
      <nuxt-link to="/">戻る</nuxt-link>
    </div>
    </form>
  </section>
</template>

<script>
// import firebase from '~/plugins/firebase'

export default {
  data() {
    return {
      email: "",
      password: ""
    }
  },
  methods: {
    signUp: function() {
      console.log('click')
      this.$firebase.register(this.email, this.password, this.$router)
    }
  }
}
</script>

<style scoped>
.form
{
  text-align: left;
}
.button
{
  width: 100%;
}
.signup
{
  padding-top: 50px;
}
</style>
