<template>
  <section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Welcom to the Sample App
        </h1>
        <h2 class="subtitle">
          This is the home page for the Nuxt.js Tutorial sample application.
        </h2>
        <!-- <button class="button is-link">Sign up now!</button> -->
        <nuxt-link to="/login" class="button is-link">Sign up now!</nuxt-link>
      </div>
    </div>
  </section>
</template>
