<template>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item is-size-4 has-text-weight-semibold">Sample App</div>
      <div class="navbar-burger is-dark" data-target="navMenu" @click="toggleMenu" :class="{'is-active': isMenuActive}">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div><!-- navbar-brand END -->
    <div class="navbar-menu is-dark" id="navMenu" :class="{'is-active': isMenuActive}">
      <div class="navbar-end">
        <nuxt-link to="/" class="navbar-item">Home</nuxt-link>
        <nuxt-link to="/socket" class="navbar-item">Chat</nuxt-link>
        <nuxt-link to="/login" class="navbar-item">Log in</nuxt-link>
      </div>
    </div><!-- navbar-menu END -->
  </nav>
</template>

<script>
export default {
  data() {
    return {
      isMenuActive: false
    };
  },
  methods: {
    toggleMenu: function() {
      this.isMenuActive = !this.isMenuActive;
    }
  },
  watch: {
    $route() {
      this.isMenuActive = false;
    }
  }
};
</script>
