<template>
  <section>
    <div v-if="user && verify">
      <p>{{ user.email }}でログインしています。</p>
      <button class="button is-success" @click="signOut">ログアウトする</button>
      <button class="button is-danger">退会する</button>
    </div>

    <div v-else-if="user && !verify">
      <p>{{ user.email }}のメール認証が完了していません。</p>
      <button class="button is-success" @click="activate">確認メールを再送する</button>
    </div>

    <div v-else>
      <p>ログインしていません。</p>
      <div class="form">
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Email input" v-model="email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <p>{{ email }}</p>
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left">
            <input class="input" type="password" placeholder="Password" v-model="password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
            <p>{{ password }}</p>
          </div>
        </div>
      </div>

      <button class="button is-info" @click="loggedIn">ログインする</button>
      <button class="button is-success" @click="register">登録する</button>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      user: "",
      email: "",
      password: ""
    }
  },
  computed: {
    verify: function() {
      return this.user ? this.user.emailVerified : ""
    }
  },
  methods: {
    toggleSignIn: function() {
      this.user = this.$firebase.toggleSignIn(this.email, this.password)
    },
    loggedIn: function() {
      this.user = this.$firebase.loggedIn(this.email, this.password)
    },
    signOut: function() {
      this.user = this.$firebase.signOut()
    },
    register: function() {
      this.user = this.$firebase.register(this.email, this.password)
    },
    activate: function() {
      this.$firebase.activate()
    },
    deleteUser: function() {
      if (this.user) {
        this.$firebase.deleteUser()
        this.user = ""
      }
    },
  },
  mounted() {
    this.user = this.$firebase.initUser()
  }
}
</script>


<style scoped>
.form
{
  text-align: left;
}
.button
{
  width: 100%;
  margin-top: 16px;
}
.signup
{
  padding-top: 50px;
}
.icon
{
  /* padding-left: 18px; */
}
</style>
