<template>
  <hero/>
</template>

<script>
import Hero from '~/components/Hero.vue'

export default {
  components: {Hero},
  // transition: 'slide-left'
  // transition (to, from) {
  //   if (!from) return 'slide-left'
  //   return +to.query.page < +from.query.page ? 'slide-right' : 'slide-left'
  // }
}
</script>

