<template>
  <!-- <section class="section"> -->
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="card">
        <div class="card-content login">
          <p class="title">
            Already a member?
          </p>
          <p class="subtitle">
            Sign in to continue.
          </p>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="text" placeholder="Email address">
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="email" placeholder="My password">
            </div>
          </div>
          <h6 class="subtitle is-6 has-text-centered">or</h6>
          <div class="has-text-centered">
            <a class="button is-link">Facebook</a>
            <a class="button is-info">Twitter</a>
          </div>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item register">
            <span>
              Register
            </span>
          </p>
        </footer>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  // transition: 'slide-left',
  // transition (to, from) {
  //   if (!from) return 'slide-left'
  //   return +to.query.page < +from.query.page ? 'slide-right' : 'slide-left'
  // }
}
</script>


<style scoped>
.button
{
  margin: 0 4px;
  /* border-radius: 0; */
  /* border: none; */
  border-width:1px;
  border-radius:15px;
}

.card
{
  max-width: 440px;
  margin: 0 auto;
}

.card .title, .card .subtitle
{
  color: hsl(0, 0%, 21%);
}

.card-content.login
{
  background-color: #f9f6f6;
  border: none;
  height: 400px;
  padding: 20px;
}

.card-footer-item.register
{
  background-color: #284863;
  color: white;
}

.input
{
  border-width:1px;
  border-radius:15px;
}

.card-footer
{
  border: none;
}

.label
{
  font-weight: lighter;
}
</style>

