.page-enter
{
  opacity: 0;
}
.page-enter-active
{
  transition: opacity .5s;
}
.page-leave-active
{
  transition: opacity .5s;
}
.page-leave-to
{
  opacity: 0;
}





/* .page-enter-active, 
.page-leave-active
{
  transition: opacity .5s;
}
.page-enter, 
.page-leave-to
{
  opacity: 0;
}
.page-container {
  transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  transition: none;
}
.page-enter,
.page-leave-active
{
  opacity: 0;
}
*/
.slide-left-enter,
.slide-right-leave-active,
.slide-left-leave-active,
.slide-right-enter
{
  transition: all 1.0s ease-in;
  /* transition: none; */
  /* opacity: 0; */
}
.slide-left-enter,
.slide-right-leave-active
{
  transform: translate(300px, 0);
}
.slide-left-leave-active,
.slide-right-enter
{
  transform: translate(-300px, 0);
} 


.slide-enter
{
  transform: translateX(1280px);
  opacity: 0;
}
.slide-enter-active
{
  /* transition: transform .5s */
  transition: .5s;
}
.slide-enter-to
{
  
}
.slide-leave
{
  /* transform: translateX(-375px); */
}
.slide-leave-active
{
  /* transition: transform .5s */
  transition: .5s;
}
.slide-leave-to
{
  transform: translateX(-1280px);
  /* opacity: 0; */
}